.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.slick-track {
	position: relative;
	top: 0;
	right: 0;
	display: block;
}
.slick-track:before, .slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: right;
	height: 100%;
	min-height: 1px;
}
[dir=rtl] .slick-slide {
	float: left;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}

#page-body, .app-canvas, .section.style2 {
    background-color: #dfdfdf;
    padding: 50px 0 0;
    height: 100%;
    min-height: 500px;
}   
.a7la7ekaya-div {
	width: 200px;
	height: 200px;
}
div.title {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	text-align: center;
}
div.title {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	text-align: center;
}
.smallfont {
	font: 11px Tahoma;
	line-height: 20px !important;
}

.imgAsBg, .imgAsBg a {
	font-size: 0px;
}
.imgAsBg a.last-post-icon {
	display : none;
}

.item-spot .item-actions .contact-options li .fa-TOPICS {
    background: #0083c9;
} 
.item-spot .item-actions .contact-options li .fa-POSTS {
    background: #77c04b;
}
.price-tag span{
	font-size: 0px;
}  
.price-tag a{
	font-size: 0px;
}
.price-tag a.last-post-icon {
	display : none;
}  
.price-tag strong {
	font-size: 14px;
}
.price-tag span br{
	font-size: 0px;
        display : none;
}  
  
  
ul li.a7la7ekaya-ah span{
	font-size: 14px;
        color: #0083c9;

}
ul li.a7la7ekaya-ah span br{
	font-size: 0px;
        display : none;
} 
ul li.a7la7ekaya-ah span a{
	display : none;
}  
ul li.a7la7ekaya-ah span a.last-post-icon {
	display : none;
}  
ul li.a7la7ekaya-ah span strong {
	display : none;
}

ul li.a7la7ekaya-text span {
	font-size: 0px;
}  
ul li.a7la7ekaya-text span br{
	font-size: 0px;
        display : none;
}
ul li.a7la7ekaya-text span a{
	font-size: 14px;
        color: #0083c9;

}  
ul li.a7la7ekaya-text span a.last-post-icon {
	display : none;
}  
ul li.a7la7ekaya-text span strong {
	display : none;
}     
.breadcrumb ul li span a {
    position: inherit;
    left: 0;
    width: 100px;
    text-align: center;
    height: 100%;
    top: 0;
}
.breadcrumb ul li span {
    background: #fff;
    padding: 0px 0px 0px 5px;
    margin-left: 2px;
    position: relative;
}  


 #page-body, .app-canvas, .section.style2 {
    background-color: #dfdfdf;
    padding: 50px 0 0;
    height: 100%;
    min-height: 500px;
} 


#HTML22 {
    padding: 18px 9px 9px;
}

#HTML22 ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.a7la7ekaya-R-topics {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#HTML22 ul {
    line-height: 1.8; 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#HTML22 ul, #HTML22 li{
    margin: 0;
    padding: 0;
}
#HTML22 ul {
    margin: 0;
    line-height: 1.2;
}


#HTML22 li {
    margin: 0;
    text-indent: 0;
    position: relative;
}

#HTML22 li a, #HTML22 li .item-thum11b{
    background-color: #77c04b;
    color: #fff;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 0;
  overflow: hidden;
    text-overflow: ellipsis;
}


#HTML22 {
margin: 0; width: 100%;
border-width: 3px; 
margin-left: 12px; 
width: 100%;
border-width: 0; 
margin-left: auto; 
width: 100%; 
max-width:100%;
background: #fff;
margin-bottom: 2px;
}
}
ul.a7la7ekaya-R-topics li a::before, #HTML22 li a::before, #HTML22 li .item-thum11b::before {
    background-color: #FC5400;
    content: "\f086";
    float: right;
    font: 16px/30px fontawesome;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}
#HTML22 li a::before, #HTML22 li .item-thum11b::before {
    background-color: #FC5400;
    content: "\f086";
    float: right;
    font: 16px/30px fontawesome;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}  
#HTML22 li a::before, #HTML22 li .item-thum11b::before {
    background-color: #FC5400;
    content: "\f086";
    float: right;
    font: 16px/30px fontawesome;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}
  
#HTML22 h2 {
    background-color: #77c04b;
    color: #fff;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin: 0 0 15px 0;
    position: relative;
    text-align: center;
}

#HTML22 h2::before {
    background-color: #FC5400;
    content: "\f086";
    display: block;
    position: absolute;
    font: 24px/34px fontawesome;
    height: 34px;
    width: 34px;
}

#HTML22 h2::before {
    content: "\f086" !important;
}

#HTML22 h2::after {
    color: #77c04b;
    content: "\f0dd";
    display: block;
    font: 30px fontawesome;
    margin-top: -22px;
    position: absolute;
    width: 100%;
    -webkit-margin-before: -19px;
}    
  

  
  
*******

#HTML11 {
    padding: 18px 9px 9px;
}

#HTML11 ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.a7la7ekaya-S-topics {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#HTML11 ul {
    line-height: 1.8; 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#HTML11 ul, #HTML11 li{
    margin: 0;
    padding: 0;
}
#HTML11 ul {
    margin: 0;
    line-height: 1.2;
}


#HTML11 li {
    margin: 0;
    text-indent: 0;
    position: relative;
}

#HTML11 li a, #HTML11 li .item-thum11b{
    background-color: #77c04b;
    color: #fff;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 0;
  overflow: hidden;
    text-overflow: ellipsis;
}


#HTML11 {
margin: 0; width: 100%;
border-width: 3px; 
margin-left: 12px; 
width: 100%;
border-width: 0; 
margin-left: auto; 
width: 100%; 
max-width:100%;
background: #fff;
margin-bottom: 2px;
}
}
ul.a7la7ekaya-S-topics li a::before, #HTML11 li a::before, #HTML11 li .item-thum11b::before {
    background-color: #FC5400;
    content: "\f004";
    float: right;
    font: 16px/30px fontawesome;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}
#HTML11 li a::before, #HTML11 li .item-thum11b::before {
    background-color: #FC5400;
    content: "\f004";
    float: right;
    font: 16px/30px fontawesome;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}  
#HTML11 li a::before, #HTML11 li .item-thum11b::before {
    background-color: #FC5400;
    content: "\f004";
    float: right;
    font: 16px/30px fontawesome;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}
  
#HTML11 h2 {
    background-color: #77c04b;
    color: #fff;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin: 0 0 15px 0;
    position: relative;
    text-align: center;
}

#HTML11 h2::before {
    background-color: #FC5400;
    content: "\f004";
    display: block;
    position: absolute;
    font: 24px/34px fontawesome;
    height: 34px;
    width: 34px;
}

#HTML11 h2::before {
    content: "\f004" !important;
}

#HTML11 h2::after {
    color: #77c04b;
    content: "\f0dd";
    display: block;
    font: 30px fontawesome;
    margin-top: -22px;
    position: absolute;
    width: 100%;
    -webkit-margin-before: -19px;
}    
  


#sidebar-wrapper {
    float: right;
    width: 100%;
}
.tabs-widget {
    background-color: #000;
    display: block;
    height: 36px;
    line-height: 36px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.tabs-widget li {
    display: block;
    float: right;
    height: 100%;
    position: relative;
    width: 33.3%;
}
.tabs-widget li a:hover, .tabs-widget li a.tabs-widget-current {
    background-color: #446FAA;
}
.tabs-widget li a {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    width: 100%;
}
.tabs-widget #stab1 a::before {
    content: "\f004";
}

.tabs-widget li a::before {
    float: right;
    font: 20px/36px fontawesome;
    margin: 0 5px;
}
.tabs-widget-current::after {
    color: #446FAA;
    content: "\f0d7";
    display: block;
    font: 26px/36px fontawesome;
    position: absolute;
    text-align: center;
    top: 21px;
    width: 100%;
    z-index: 5;
}
.tabs-widget #stab2 a::before {
    content: "\f02c";
}

.tabs-widget li a::before {
    float: right;
    font: 20px/36px fontawesome;
    margin: 0 5px;
}
.tabs-widget #stab3 a::before {
    content: "\f086";
}
.tabs-widget li a::before {
    float: right;
    font: 20px/36px fontawesome;
    margin: 0 5px;
}

.popthumbcont {
    border: 1px solid #ddd;
    float: right;
    height: 50px;
    margin-left: 5px;
    overflow: hidden;
    padding: 3px;
    position: relative;
    width: 60px;
}
#Label1 {
    padding: 18px 9px 9px;
}

#Label1 ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.cungchuyenmu1c {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.a7la7ekaya-F-topics {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#Label1 ul {
    line-height: 1.8; 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#Label1 ul, #Label1 li{
    margin: 0;
    padding: 0;
}
#Label1 ul {
    margin: 0;
    line-height: 1.2;
}


#Label1 li {
    margin: 0;
    text-indent: 0;
    position: relative;
}

#Label1 li a, #Label1 li .item-thum11b{
    background-color: #77c04b;
    color: #fff;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 0;
}


#Label1 {
margin: 0; width: 100%;
border-width: 3px; 
margin-left: 12px; 
width: 100%;
border-width: 0; 
margin-left: auto; 
width: 100%; 
max-width:100%;
background: #fff;
margin-bottom: 2px;
}
}
#Label1 li a::before, #Label1 li .item-thum11b::before {
    background-color: #FC5400;
    content: "\f02b";
    float: right;
    font: 16px/30px fontawesome;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}
ul.a7la7ekaya-F-topics li a::before, #Label1 li a::before, #Label1 li .item-thum11b::before {
    background-color: #FC5400;
    content: "\f02b";
    float: right;
    font: 16px/30px fontawesome;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}  
#Label1 li a::before, #Label1 li .item-thum11b::before {
    background-color: #FC5400;
    content: "\f02b";
    float: right;
    font: 16px/30px fontawesome;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}
  
#Label1 h2 {
    background-color: #77c04b;
    color: #fff;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin: 0 0 15px 0;
    position: relative;
    text-align: center;
}

#Label1 h2::before {
    background-color: #FC5400;
    content: "\f1cb";
    display: block;
    position: absolute;
    font: 24px/34px fontawesome;
    height: 34px;
    width: 34px;
}

#Label1 h2::before {
    content: "\f02c" !important;
}

#Label1 h2::after {
    color: #77c04b;
    content: "\f0dd";
    display: block;
    font: 30px fontawesome;
    margin-top: -22px;
    position: absolute;
    width: 100%;
    -webkit-margin-before: -19px;
}  

